<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <p><%= restaurant.name %></p>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
    <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>

<%= link_to "New restaurant", new_restaurant_path %>
